    <div class="nested_fields">
      <div class="field">
        <%= form.label :phone %>
        <%= form.text_field :phone %>
        <%= link_to_remove_association('Remover', form)%>
      </div>
    </div>